<!DOCTYPE html>
<html data-ng-app="snapchat">
<head>
    <base href="/">
    <title>Application SnapChat</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


<!-- bower:css -->
<link rel="stylesheet" href="/styles/vendor-d78812fc.css">
<!-- endbower -->
<!-- inject:css -->
<link rel="stylesheet" href="/styles/app-c4809e17.css">
<link rel="stylesheet" href="/styles/app.css">
<!-- endinject -->

<!--STYLES-->   
<!--STYLES END-->
</head>

<body>
    <div layout="row" layout-fill data-ui-view="layout" >

  </div>

<!-- <script src="/js/dependencies/sails.io.js"></script> -->
<!-- bower:js -->
<script src="/scripts/vendor-56827bb2.js"></script>
<!-- endbower -->
<!-- inject:js -->
<script src="/scripts/app-7cc77a10.js"></script>
<!-- endinject -->
<!-- Templates -->
<script src="templates.js"></script>
<!--SCRIPTS-->

<!--SCRIPTS END-->

<!--TEMPLATES-->

<!--TEMPLATES END-->

</body>
</html>
