<div layout="column" layout-align="center center" flex>
    <md-card id="login">
        <i class="md-2x md-account-circle"></i>
        <form class="panel-body form-horizontal" ng-submit="authenticate()">
            <md-text-float label="Utilisateur" ng-model="user.identifier" type="text"></md-text-float>

            <md-text-float label="Mot de passe" ng-model="user.password" type="password"></md-text-float>
            <md-button class="md-primary md-raised">Connexion</button>
        </form>
        <!-- <md-content> -->
        <!-- </md-content> -->
    </md-card>
</div>
