$body-bg:#f9f9f9;
$menu-color:#AAA;
$menu-color-hover:darken($menu-color, 40);
body {
    background-color: $body-bg;
    height: 100%;
}
.center {
    text-align: center;
}
video {
    width: 100%;
}
.md-1x {
    font-size: 1.5em;
}
.menu {
    padding: 10px;
    width: 100%;
    text-align: left !important;
}
.selected i {
    color: #2196f3;
}