$body-bg:#f9f9f9;
$menu-color:#AAA;
$menu-color-hover:darken($menu-color, 40);
body {
    background-color: $body-bg;
    height: 100%;
}
.center {
    text-align: center;
}
video {
    width: 100%;
}
.md-1x {
    font-size: 1.5em;
}
.menu {
    padding: 10px;
    width: 100%;
    text-align: left !important;
}
md-list md-item:first-child {
    margin-left: 0;
    padding-left: 0;
}
.my-card {
    float: left;
    padding: 0 6px;
    margin: 5px;
}
md-divider {
    height: 100px;
    border-left: 1px solid;
}
.selected i {
    color: #2196f3;
}
#login {
    padding: 15px;
}
.text-white {
    color: white;
}
[layout-fill] {
    height: 100%;
}
