<md-dialog>
    <md-content>
        <md-radio-group ng-model="selected">
            <md-radio-button ng-repeat="account in accounts" ng-value="account.id" aria-label="{{ account.login }}">
                <div class="md-tile-content">
                    <h3>{{account.login}}  </h3>
                    <h4>{{account.password}}</h4>
                </div>
            </md-radio-button>
        </md-radio-group>
          <div class="md-actions" layout="row">
    <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
      More on Wikipedia
    </md-button>
    <span flex></span>
    <md-button ng-click="cancel()">
     Annuler
    </md-button>
    <md-button ng-click="choose()" class="md-primary">
      Choisir
    </md-button>
  </div>
    </md-content>
</md-dialog>
